@charset "UTF-8";
h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 0px 0px 10px 0px;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin: 0px 0px 0px 0px;
}

.thumbnail {
  font-family: "open sans";
  font-size: 10px;
  margin: 0px 0px 1px 0px;
}

.text1 {
  margin: 21px 21px 21px 28px;
}

.article1 {
  position: absolute;
  color: white;
  width: fit-content;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
}

span {
  color: white;
}

.readmore span {
  margin-left: -5px;
}

.readmore {
  position: relative;
  text-align: right;
}

.readmore2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.readmore button {
  border: none;
  font-size: 12px;
  cursor: pointer;
  background-image: url(./Images/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  text-align: left;
  width: 130px;
  height: 20px;
  background-position: 0% 20%;
}

hr {
  border-top: 3px solid #1E2D37;
  position: relative;
}

header {
  /* Utseende */
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 21px;
  /*  Section 1 av 2 består av logo och navigering */
}
header input {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
header section:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
header section:nth-child(1) article {
  display: flex;
  margin-right: 36px;
  flex-direction: row;
}
header section:nth-child(1) article .loggan {
  height: 36px;
  /*  margin: 10px 0px 0px 21px; */
}
header section:nth-child(1) article nav {
  display: flex;
  flex-direction: row;
}
header section:nth-child(1) article nav a {
  /*  marginal mellan nav */
  padding-right: 36px;
  /*  TYPSNITT */
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
header section:nth-child(2) article input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1078px;
}
.flex-container .column1 {
  width: 61%;
  height: 559px;
  margin-right: 17px;
}
.flex-container .column1 .article1 .img1 {
  width: 100%;
  height: 100%;
}
.flex-container .column1 .article1 .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.7);
}
.flex-container .column1 .article1 .container .text1 {
  margin: 20px 0px 0px 27px;
  width: 67%;
}
.flex-container .column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 37%;
  height: 559px;
}
.flex-container .column2 .column2-1 {
  width: 100%;
  height: 276px;
}
.flex-container .column2 .column2-1 .article1 .img2 {
  width: 100%;
  height: auto;
}
.flex-container .column2 .column2-1 .article1 .container2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  top: 155px;
  background: rgba(0, 0, 0, 0.7);
}
.flex-container .column2 .column2-1 .article1 .container2 .text1 {
  margin: 11px 10px 15px 16px;
}
.flex-container .column2 .column2-1 .article1 .container2 .text1 h1 {
  margin: 0px 0px 4px 0px;
}
.flex-container .column2 .column2-1 .article1 .container2 .text1 p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}
.flex-container .column2 .column2-1 .article1 .container2 .text1 .thumbnail {
  font-size: 10px;
  line-height: 14px;
}
.flex-container .column2 .column2-2 {
  height: 274px;
  margin-top: 9px;
}
.flex-container .column2 .column2-2 .column2-2-1 {
  height: 126px;
  width: 100%;
  margin-bottom: 9px;
}
.flex-container .column2 .column2-2 .column2-2-1 .article3 {
  margin-left: 10px;
  width: 100%;
  height: 100%;
  line-height: 15px;
  display: flex;
}
.flex-container .column2 .column2-2 .column2-2-1 .article3 .img3 {
  width: 44%;
  height: 100%;
}
.flex-container .column2 .column2-2 .column2-2-2 {
  height: 139px;
  width: 100%;
}
.flex-container .column2 .column2-2 .article4 {
  width: 100%;
  height: 100%;
  display: flex;
}
.flex-container .column2 .column2-2 .article4 .img4 {
  width: 44%;
  height: 100%;
}
.flex-container .column2 .column2-2 .article4 .section4 {
  margin-left: 10px;
}

footer .img5 {
  width: 100%;
  height: 145px;
}

/*# sourceMappingURL=style.css.map */
