img {
  width: 44%;
  height: auto;
}

h1 {
  font-family:"Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.article3 {
  width: 27%;
  height: auto;
  line-height: 15px;
  display: flex;
}

.section3 {
  padding: 10px;
}

.article4 {
  width: 27%;
  height: auto;
  display: flex;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
}
  
