

// Styling header
body {

  margin: 0px;
}

h1 {
  font-family:"Times New Roman", Times, serif;
  margin: 0px 0px 7px 0px;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
  margin: 0px 0px 40px 0px;
}

.thumbnail {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  margin: 0px 0px 1px 0px;
  }

.text1 {
  margin: 21px 21px 21px 28px;
}

.article1 {
  position: absolute;
  color: white;
  width: fit-content;
}

.article2 {
  color: white;
  width: fit-content;
}

ul {
    margin-left: -17px;
    margin-block-start: 0em;
    margin-block-end: 0em;

  li {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
  }
}


span {
  color: white;
}

.readmore span {
margin-left: -5px;
}

.readmore2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}





header {
  /* headern består av två sectioner, den första innehåller logo och navigation, den andra innehåller sökrutan */
  /* Utseende */
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 21px;

  /*  Section 1 av 2 består av logo och navigering */
  section:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 0px;

    article{
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (max-width: 376px) {
        justify-content: space-between;
        width: 346px;
      }
      img {
        height: 36px;
        margin-right: 36px;
        @media (max-width: 376px) {
          margin-right: 0px;
        }
        /*  margin: 10px 0px 0px 21px; */
      }


      nav {
        color: #1E2D37;
        .icon {
          display: none;
        }
        @media (max-width: 376px) {
          flex-direction: column;
          .icon {
            display: block;
          }
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          li {
            padding-right: 36px;
            li:last-child {
              padding-right: 0px;
            }
            a {
              color: #1E2D37;

              /*  TYPSNITT */
              text-decoration: none;
              font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              @media (max-width: 376px) {
                font-size: 20px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
  /*  Section 2 av 2 består av sökfältet */
  section:nth-child(2){
    @media (max-width: 700px) {
      display: none
    }
      form {
        height: 29px;
        border: solid 0.5px #1E2D37;
        border-radius: 10px;
        display: flex;
        text-align: center left;
        .searchicon {
          background-image: url(./Images/search.svg);
          width: 12px;
          height: 12px;
          background-repeat: no-repeat;
          background-size: 100%;
          background-color: transparent;
          color: #1E2D37;
          margin: 9px 11px 8px 15px;
        }
        input[type=search] {
          width: 128px;
          font-size: 13px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          float: right;
          border: none;
          background: none;
          height: 100%;
        }
      }
  }
}
@media screen and (max-width: 376px) {
  .topnav a{
    display: none;
  }
  nav {
    border: 2px;
    a.icon {
      float: right;
      display: block;
    }
  }
}


@media screen and (max-width: 376px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
// Styling grid

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    flex: 1;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1078px;
  .column1 {
    width: 61%;
    height: 559px;
    margin-right: 17px;
    .article1 {
      .img1 {
        width: 100%;
        height: 100%;
      }
      .container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4px;
        background: rgba(0, 0, 0, 0.7);
        .text1 {
          margin: 20px 0px 0px 27px;
          width: 67%;
        }
      }
    }
  }
  .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 37%;
    height: 559px;
    .column2-1 {
      width: 100%;
      height: 276px;
      .article2 {
        width: 100%;
        height: 100%;
        .img2 {
          width: 100%;
          height: 100%;
        }
        .container2 {
          position: relative;
          left: 0;
          right: 0;
          bottom: 4px;
          top: -112px;
          background: rgba(0, 0, 0, 0.7);
          .text2 {
            padding: 11px 10px 15px 16px;
            h1 {
              margin: 0px 0px 5px 0px;
            }
            p {
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0em;
              margin-bottom: 16px;
            }
            .thumbnail2 {
              margin-bottom: -1px;
              font-size: 10px;
              line-height: 14px;
            }
          }
        }
      }
    }
    .column2-2 {
      height: 274px;
      margin-top: 9px;
      .column2-2-1 {
        height: 126px;
        width: 100%;
        margin-bottom: 9px;
        .article3 {
          width: 100%;
          height: 100%;
          display: flex;
          .img3 {
            width: 44%;
            height: 100%;
          }
          .section3 {
            margin-left: 10px;
          }
          width: 100%;
          height: 100%;
          line-height: 15px;
          display: flex;
        }
      }
      .column2-2-2 {
        height: 139px;
        width: 100%;
      }
      .article4 {
        width: 100%;
        height: 100%;
        display: flex;
        .img4 {
          width: 44%;
          height: 100%;
        }
        .section4 {
          margin-left: 10px;
        }
      }
    }

  }
}

  // span {
  //   font-family: "open sans";
  //   font-size: 10px;
  //   line-height: 0;
  // }
  //
  //










  .readmore {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }

  .readmore2 {
    position: absolute;
    right: 8px;
    bottom: 5px;
  }


  .readmore button {
border: none;
font-size: 10px;
cursor: pointer;
background-image: url(./Images/Arrow.svg);
background-repeat: no-repeat;
background-size: 100%;
background-color: transparent;
text-align: left;
width: 78px;
height: 23px;
background-position: 0px 12px;
}

.readmore2 button {
  border: none;
  font-size: 10px;
  cursor: pointer;
  background-image: url(./Images/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  text-align: left;
  width: 78px;
  height: 23px;
  background-position: 0px 12px;
  }

.readmore span {
margin-left: -5px;
}

.readmore2 span {
  margin-left: -5px;
  }

footer {
  width: 100%;
  hr {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #1E2D37;
  }
  .img5 {
    width: 100%;
    height: 145px;
  }
}


@media (max-width: 376px) {

  h1 {
    margin: 0px 0px 10px 0px;
    line-height: 16px;
    font-size: 14px;
}

p {
  font-size: 11px;
}

.thumbnail {
  font-size: 9px;
  margin: 12px 0px 1px 0px;
  }

.text1 {
  margin: 12px 0px 0px 14px;
}

// Styling grid

.navigation nav {
  display: hidden;
}

.flex-container {
  width: 92%;
  display: block;
  margin-top: 17px;
  overflow-x: hidden;
  max-width: 376px;

    .column1 {
      width: 100%;
      height: 190px;
      display: block;
      margin-right: 0px;
      margin-bottom: 9px;

        .article1 {
          position: relative;
          height: 190px;
          width: 100%;

          .container {
            bottom: 0px;
            height: 77px;

            .text1 {
              margin: 0px 0px 0px 14px;
              width: 66%;

              .img1 {
                height: 190px;
              }

            .bodytext {
              display: none;
            }

            }
          }
        }
    }
    .column2 {
      width: 100%;
      height: 427px;

      .column2-1 {
        width: 100%;
        height: 150px;

        .article2 {
          position: relative;

          .container2 {
            top: -66px;

          .text2 {
            padding: 6px 10px 23px 16px;
          }

          .thumbnail2 {
            margin-bottom: -2px;
          }

          .bodytext2 {
            display: none;
          }
        }
        }
      }
      .column2-2 {

        .article4 {
          height: 133px;
          ul {
            li {
            font-size: 11px;
            line-height: 15px;
            }
          }
        }
      }
    }
  }

.readmore, .readmore2 {
  position: absolute;
  right: 4px;
  bottom: 2px;
}

.readmore button {
  border: none;
  font-size: 9px;
  cursor: pointer;
  background-image: url(./Images/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  text-align: left;
  width: 63px;
  height: 23px;
  background-position: 0px 12px;
  }

  .readmore2 button {
    border: none;
    font-size: 9px;
    cursor: pointer;
    background-image: url(./Images/Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    text-align: left;
    width: 63px;
    height: 23px;
    background-position: 0px 12px;
    }

    footer {

      .img5 {
        width: 100%;
      }
    }
  }
