// Styling header

header {
  /* Utseende */
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 21px;
  input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  /*  Section 1 av 2 består av logo och navigering */
  section:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    article{
      display: flex;
      margin-right: 36px;
      flex-direction: row;
      .loggan {
        height: 36px;
        /*  margin: 10px 0px 0px 21px; */
      }
      nav {
              display: flex;
              flex-direction: row;
        a {
          /*  marginal mellan nav */
          padding-right: 36px;
          /*  TYPSNITT */
          text-decoration: none;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
  section:nth-child(2)
  /*  Section 2 av 2 består av sökfältet */ {
    article{
      input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
      }
    }
  }
}

// Styling grid

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    flex: 1;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1078px;
}


.column1 {
  // display: flex;
  // flex-basis: 100%;
  // flex: 1;
  width: 61%;
  height: 559px;
  margin-right: 17px;
}

.article1 {
  position: absolute;
  color: white;
  width: fit-content;
}

.img1 {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.7);
}

.readmore {
  position: relative;
  text-align: right;
  right: 20px;
  bottom: 20px;
  height: 20px;
}




.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 37%;
  height: 559px;
}


p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}


.article3 {
  width: 27%;
  height: auto;
  line-height: 15px;
  display: flex;
}

.section3 {
  margin-left: 10px;
}

.img3 {
  width: 44%;
  height: auto;
}


.article4 {
  width: 27%;
  height: auto;
  display: flex;
}

.section4 {
  margin-left: 10px;
}

.img4 {
  width: 44%;
  height: auto;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
}


.thumbnail {
    font-family: "open sans";
    font-size: 10px;
  }


  // span {
  //   font-family: "open sans";
  //   font-size: 10px;
  //   line-height: 0;
  // }
  //
  //
  span {
    color: white;
  }


  h1 {
    font-family:"Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
  }


  .smallerp {
    font-family: 'open sans';
    font-size: 12px;
    line-height: auto;
  }








  .img2 {
    width: 100%;
    height: auto;
  }


  .text1 {
    margin-left: 15px;
  }




  .container2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    top: 155px;
    background: rgba(0, 0, 0, 0.7);
  }





  .readmore2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }


  .readmore button {
border: none;
font-size: 12px;
cursor: pointer;
background-image: url(./Images/Arrow.svg);
background-repeat: no-repeat;
background-size: 100%;
background-color: transparent;
text-align: left;
width: 130px;
height: 20px;
background-position: 0% 20%;
}

.readmore span {
margin-left: -5px;
}
