@charset "UTF-8";
h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 0px 0px 7px 0px;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
  margin: 0px 0px 40px 0px;
}

.thumbnail {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  margin: 0px 0px 1px 0px;
}

.text1 {
  margin: 21px 21px 21px 28px;
}

.article1 {
  position: absolute;
  color: white;
  width: fit-content;
}

.article2 {
  color: white;
  width: fit-content;
}

ul {
  margin-left: -17px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
ul li {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
}

span {
  color: white;
}

.readmore span {
  margin-left: -5px;
}

.readmore2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

header {
  /* headern består av två sectioner, den första innehåller logo och navigation, den andra innehåller sökrutan */
  /* Utseende */
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 21px;
  /*  Section 1 av 2 består av logo och navigering */
  /*  Section 2 av 2 består av sökfältet */
}
header input {
  float: right;
  padding: 6px;
  border: 0px;
  font-size: 17px;
}
header section:nth-child(1) {
  display: flex;
  align-items: center;
  padding: 0px;
}
header section:nth-child(1) article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 376px) {
  header section:nth-child(1) article {
    flex-direction: column;
  }
}
header section:nth-child(1) article img {
  height: 36px;
  margin-right: 36px;
  /*  margin: 10px 0px 0px 21px; */
}
@media (max-width: 376px) {
  header section:nth-child(1) article img {
    margin-right: 0px;
  }
}
header section:nth-child(1) article nav {
  display: flex;
  flex-direction: row;
}
@media (max-width: 376px) {
  header section:nth-child(1) article nav {
    flex-direction: column;
  }
}
header section:nth-child(1) article nav a {
  /*  marginal mellan nav */
  padding-right: 36px;
  /*  TYPSNITT */
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 376px) {
  header section:nth-child(1) article nav a {
    font-size: 20px;
    line-height: 40px;
  }
}
header section:nth-child(1) article nav a:last-child {
  padding-right: 0px;
}
header section:nth-child(2) {
  border: 1px;
  background-color: lightblue;
}
@media (max-width: 376px) {
  header section:nth-child(2) {
    display: none;
  }
}
header section:nth-child(2) article input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  /*
          float: right;
          padding: 6px;
          margin-top: 8px;
          margin-right: 16px;
          font-size: 17px;
          */
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1078px;
}
.flex-container .column1 {
  width: 61%;
  height: 559px;
  margin-right: 17px;
}
.flex-container .column1 .article1 .img1 {
  width: 100%;
  height: 100%;
}
.flex-container .column1 .article1 .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.7);
}
.flex-container .column1 .article1 .container .text1 {
  margin: 20px 0px 0px 27px;
  width: 67%;
}
.flex-container .column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 37%;
  height: 559px;
}
.flex-container .column2 .column2-1 {
  width: 100%;
  height: 276px;
}
.flex-container .column2 .column2-1 .article2 {
  width: 100%;
  height: 100%;
}
.flex-container .column2 .column2-1 .article2 .img2 {
  width: 100%;
  height: 100%;
}
.flex-container .column2 .column2-1 .article2 .container2 {
  position: relative;
  left: 0;
  right: 0;
  bottom: 4px;
  top: -112px;
  background: rgba(0, 0, 0, 0.7);
}
.flex-container .column2 .column2-1 .article2 .container2 .text2 {
  padding: 11px 10px 15px 16px;
}
.flex-container .column2 .column2-1 .article2 .container2 .text2 h1 {
  margin: 0px 0px 5px 0px;
}
.flex-container .column2 .column2-1 .article2 .container2 .text2 p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}
.flex-container .column2 .column2-1 .article2 .container2 .text2 .thumbnail2 {
  margin-bottom: -1px;
  font-size: 10px;
  line-height: 14px;
}
.flex-container .column2 .column2-2 {
  height: 274px;
  margin-top: 9px;
}
.flex-container .column2 .column2-2 .column2-2-1 {
  height: 126px;
  width: 100%;
  margin-bottom: 9px;
}
.flex-container .column2 .column2-2 .column2-2-1 .article3 {
  width: 100%;
  height: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 15px;
  display: flex;
}
.flex-container .column2 .column2-2 .column2-2-1 .article3 .img3 {
  width: 44%;
  height: 100%;
}
.flex-container .column2 .column2-2 .column2-2-1 .article3 .section3 {
  margin-left: 10px;
}
.flex-container .column2 .column2-2 .column2-2-2 {
  height: 139px;
  width: 100%;
}
.flex-container .column2 .column2-2 .article4 {
  width: 100%;
  height: 100%;
  display: flex;
}
.flex-container .column2 .column2-2 .article4 .img4 {
  width: 44%;
  height: 100%;
}
.flex-container .column2 .column2-2 .article4 .section4 {
  margin-left: 10px;
}

footer .img5 {
  width: 100%;
  height: 145px;
}

.column2-2-1 {
  height: 126px;
  width: 100%;
  margin-bottom: 9px;
}

.img2 {
  width: 100%;
  height: auto;
}

.readmore {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.readmore2 {
  position: absolute;
  right: 8px;
  bottom: 5px;
}

.readmore button {
  border: none;
  font-size: 10px;
  cursor: pointer;
  background-image: url(./Images/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  text-align: left;
  width: 78px;
  height: 23px;
  background-position: 0px 12px;
}

.readmore2 button {
  border: none;
  font-size: 10px;
  cursor: pointer;
  background-image: url(./Images/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  text-align: left;
  width: 78px;
  height: 23px;
  background-position: 0px 12px;
}

.readmore span {
  margin-left: -5px;
}

.readmore2 span {
  margin-left: -5px;
}

footer {
  width: 100%;
}
footer hr {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #1E2D37;
}
footer .img5 {
  width: 100%;
  height: 145px;
}

@media (max-width: 376px) {
  h1 {
    margin: 0px 0px 10px 0px;
    line-height: 16px;
    font-size: 14px;
  }

  p {
    font-size: 11px;
  }

  .thumbnail {
    font-size: 9px;
    margin: 12px 0px 1px 0px;
  }

  .text1 {
    margin: 12px 0px 0px 14px;
  }

  .navigation nav {
    display: hidden;
  }

  .flex-container {
    width: 92%;
    display: block;
    margin-top: 17px;
    overflow-x: hidden;
    max-width: 376px;
  }
  .flex-container .column1 {
    width: 100%;
    height: 190px;
    display: block;
    margin-right: 0px;
    margin-bottom: 9px;
  }
  .flex-container .column1 .article1 {
    position: relative;
    height: 190px;
    width: 100%;
  }
  .flex-container .column1 .article1 .container {
    bottom: 0px;
    height: 77px;
  }
  .flex-container .column1 .article1 .container .text1 {
    margin: 0px 0px 0px 14px;
    width: 66%;
  }
  .flex-container .column1 .article1 .container .text1 .img1 {
    height: 190px;
  }
  .flex-container .column1 .article1 .container .text1 .bodytext {
    display: none;
  }
  .flex-container .column2 {
    width: 100%;
    height: 427px;
  }
  .flex-container .column2 .column2-1 {
    width: 100%;
    height: 150px;
  }
  .flex-container .column2 .column2-1 .article2 {
    position: relative;
  }
  .flex-container .column2 .column2-1 .article2 .container2 {
    top: -66px;
  }
  .flex-container .column2 .column2-1 .article2 .container2 .text2 {
    padding: 6px 10px 23px 16px;
  }
  .flex-container .column2 .column2-1 .article2 .container2 .thumbnail2 {
    margin-bottom: -2px;
  }
  .flex-container .column2 .column2-1 .article2 .container2 .bodytext2 {
    display: none;
  }
  .flex-container .column2 .column2-2 .article4 {
    height: 133px;
  }
  .flex-container .column2 .column2-2 .article4 ul li {
    font-size: 11px;
    line-height: 15px;
  }

  .readmore, .readmore2 {
    position: absolute;
    right: 4px;
    bottom: 2px;
  }

  .readmore button {
    border: none;
    font-size: 9px;
    cursor: pointer;
    background-image: url(./Images/Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    text-align: left;
    width: 63px;
    height: 23px;
    background-position: 0px 12px;
  }

  .readmore2 button {
    border: none;
    font-size: 9px;
    cursor: pointer;
    background-image: url(./Images/Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    text-align: left;
    width: 63px;
    height: 23px;
    background-position: 0px 12px;
  }

  footer .img5 {
    width: 100%;
    height: 71px;
  }
}

/*# sourceMappingURL=style.css.map */
